# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Tutorial07_2010/v16/Browse.VC.db
.vs/Tutorial07_2010/v16/.suo
.vs/Tutorial07_2010/v16/Browse.VC.db-shm
.vs/Tutorial07_2010/v16/Browse.VC.db-wal
.vs/Tutorial07_2010/v16/Browse.VC.opendb
.vs/Tutorial07_2010/v16/ipch/AutoPCH/15816f2211dcd6e1/TUTORIAL07.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/2f7a039a01ad1ba/CTIME.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/32ef758a1f393742/TUTORIAL07.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/7df43c277ce50a04/TUTORIAL07.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/9be7093c9dff3f5f/TUTORIAL07.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/a80eef15a0c9371d/TUTORIAL07.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/c443e35951c38d3/TUTORIAL07.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/e9ce53517d9fd7ee/TRANSFORM.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/e9895a959a14ce7c/INPUTLAYOUT.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/e27ffbbb8abafc12/VIEWPORT.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/a885af983d82fbf4/RENDERTARGETVIEW.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/a71f6a168f785da6/SWAPCHAIN.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/8feb98f53b5f1edb/DEVICECONTEXT.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/7ebf4e68cf09c66c/WINDOW.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/76244d98b40095a2/DEPTHSTENCILVIEW.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/6a7a3330373823bb/COMMONS.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/46368c976e2e24ca/DEVICE.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/30c6ec918146bac5/SAMPLERSTATE.ipch
.vs/Tutorial07_2010/v16/ipch/AutoPCH/2d111aad6e3bea75/TEXTURE.ipch
